@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    z-index: -1;
    background: transparent;
}

.card {
    display: flex;
    justify-content: end;
    overflow: hidden;
    /* height: 100vh; */
}

.cardbg>img {
    display: block;
    height: 100vh;
    width: 60vw;
    object-fit: cover;
}

.logotop>img {
    width: 98px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.logobot>img {
    width: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.loginbox>.id {
    position: absolute;
    top: 38%;
    left: 10%;
    width: 365px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    z-index: 2;
    border: 2px solid #a5a5a5;
}

.loginbox>.pass {
    position: absolute;
    top: 48%;
    left: 10%;
    width: 365px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    z-index: 2;
    border: 2px solid #a5a5a5;
}

.loginbox>.btn {
    position: absolute;
    top: 58%;
    left: 22.5%;
    width: 120px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    z-index: 2;
    color: white;
    background-color: #bbbbbb;
    border: 2px solid #a5a5a5;
    box-shadow: 2px 2px 5px black;
    font-weight: bold;
}

.loginbox>.forg {
    color: #bbbbbb;
    position: absolute;
    top: 59.5%;
    left: 10.5%;
    width: 380px;
    box-sizing: border-box;
    z-index: 2;
}

.login>h1 {
    color: #000000;
    /* font-weight: bold; */
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 200;
    font-style: normal;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 380px;
    /* padding: 40px; */
    box-sizing: border-box;
    z-index: 2;
}

.login>span {
    color: #949494;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 100;
    font-style: normal;
    position: absolute;
    top: 26%;
    left: 10%;
    width: 380px;
    /* padding: 40px; */
    box-sizing: border-box;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* padding-inline: 10px; */
    /* padding-block: 15px; */
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #ff0000;
}

.navbar>.item {
    top: 2%;
    left: 70%;
    position: absolute;
    z-index: 3;
    /* background-color: aqua; */
    max-width: 450px;
    height: 30px;
}

.item>ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    z-index: 3;
}

.navbar>.btt {
    position: absolute;
    left: 87%;
    top: 2%;
    z-index: 3;
}

.btt>button {
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding-inline: 10px;
    padding-block: 3px;
    background: linear-gradient(90deg, rgb(219, 128, 67), rgb(243, 42, 42));
    z-index: 3;
}

.blur {
    width: 500px;
    height: 40px;
    /* background-color: aqua; */
    z-index: 3;
    display: flex;
    top: 1.5%;
    left: 68%;
    position: absolute;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}