#Container {
    background-color: aqua;
    width: 900px;
    height: 700px;
}

#Container .SubContainer {
    background-color: yellowgreen;
    /* width: 600px; */
    width: 100%;
    height: 200px;
}