.card {
    width: 500px;
    border: 2px solid black;
}

.card>.cardbanner>.bannerimg>img {
    width: 100%;
}

.card>.cardbanner>.bannertxt>p {
    position: relative;
    top: 35px;
}

.card>.cardbanner>.bannertext>p {
    position: absolute;
    top: 12px;
}

.fixparent>h1 {
    background-color: aqua;
    position: fixed;
    top: 0px;
}

.fixparent>h2 {
    background-color: aquamarine;
    position: sticky;
    /* display: inline-block; */
    right: 5px;
    /* text-align: right; */
    /* transform: translateY(-400px); */
}