h1 {
    text-align: center;
}

.set:hover {
    color: rgb(46, 43, 226);
}

.bet:visited {
    color: brown;
}

.bat:active {
    color: aqua;
}

.vet:link {
    color: chartreuse;
}