* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    z-index: -1;
    background: transparent;
}

.background>img {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    opacity: 0.9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    padding-block: 15px;
    background: linear-gradient(90deg, rgb(49, 49, 49), rgb(189, 189, 189), rgb(49, 49, 49));
    z-index: 1;
    /* border-bottom: 3px solid;
    border-top: 3px solid;
    border-image: linear-gradient(90deg, rgb(187, 235, 110), rgb(206, 207, 151)) 2; */
}

.navbar>.logo>img {
    width: 90px;
    z-index: 1;
}

.navbar>.content>ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    z-index: 1;
    /* font-weight: bold; */
}

.navbar>.btn>button {
    font-size: 18px;
    border-radius: 20px;
    border: none;
    padding-inline: 10px;
    padding-block: 3px;
    background: linear-gradient(90deg, rgb(219, 128, 67), rgb(243, 42, 42));
    z-index: 1;
    /* font-weight: bold; */
    /* color: rgb(177, 177, 160); */
}