* {
    background-color: rgb(135, 139, 130);
    font-family: Arial, Helvetica, sans-serif;
}

#Head {
    background-color: rgb(106, 233, 95);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Body {
    background-color: antiquewhite;
}

h3 {
    color: azure;
}